@charset "UTF-8";

/* Estrutura do site
----------------------------------------------------------*/
body {
    background: #f4f2ec url(../imagens/fundo.png) top repeat-x;
    font: 12px "Lucida Grande", "Lucida Grande Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0px auto;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover{
    color: #227115;
}
/* Logo
---------------------------------------------------------- */
#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../imagens/logo.png) no-repeat;
}

/* Barra de navegação
---------------------------------------------------------- */
header {
    padding: 15px;
    height: 15px;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    font-weight: 600;
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#acervo > #container > #cabecalho > #navegacao > ul > li > a#select,
#contato > #container > #cabecalho > #navegacao > ul > li > a#select,
#exposicoes > #container > #cabecalho > #navegacao > ul > li > a#select, 
#fotos > #container > #cabecalho > #navegacao > ul > li > a#select,
#index > #container > #cabecalho > #navegacao > ul > li > a#select,
#pesquisas > #container > #cabecalho > #navegacao > ul > li > a#select,
#videos > #container > #cabecalho > #navegacao > ul > li > a#select {
    color: #227115;
    border-bottom: 1px solid #227115;
}

/* Início principal
----------------------------------------------------------*/
#conteudo {
    float: left;
    width: 710px;
}
article#video {
    float: left;
    width: 310px;
    margin-left: 25px;
}

article#mapa {
    float: right;
    width: 310px;
    margin-right: 37px;
}

article#exposicoes {
    float: left;
    width: 310px;
    margin: 15px 0px 0px 25px;
}

article#historia {
    float: right;
    width: 310px;
    margin: 15px 27px 0px 0px;
}

article#historia p {
    text-indent: 10px;
    line-height: 16px;
    text-align: justify;
}

article#historia a:hover {
    text-decoration: underline;
}

aside#lateral {
    float: right;
    width: 350px;
    background-color: #ebe7dd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

h3 {
    color: #227115;
    text-transform: uppercase;
    font-size: 1.0em;
    margin-bottom: 15px;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* Galeria
----------------------------------------------------------*/
section#galeria {
    padding: 0px 27px 0px 27px;
}

section#galeria a {
    display: block;
    background: url(../imagens/fundo-foto.png) no-repeat ;
    float: left;
    padding: 17px 15px 17px 15px;
    margin: 10px 0px 0px 20px;
}

section#galeria a img {
    margin-left: 2px;
    margin-top: 4px;
}

/* Formulários
---------------------------------------------------------- */
input {
    height: 20px;
    background-color: #fff;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
}

input.botao {
    color: #fff;
    background: #3f3c2edc;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

/* Rodapé
---------------------------------------------------------- */
#rodape {
    clear: both;
    text-align: center;
    background: url(../imagens/fundo-rodape.png) center top no-repeat;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}

#rodape > p a {
    padding: 10px;
}
