@charset "UTF-8";

/* Estrutura do site
----------------------------------------------------------*/
body {
    background: #f4f2ec url(../imagens/fundo.png) top repeat-x;
    font: 12px "Lucida Grande", "Lucida Grande Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0px auto;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}
/* Logo
--------------------------------------------------------- */
#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../imagens/logo.png) no-repeat;
}

/* Barra de navegação
---------------------------------------------------------- */
header {
    padding: 15px;
    height: 15px;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    font-weight: 600;
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
    transition-duration: 1s;
    transition-timing-function: ease;
}

/* Início principal
--------------------------------------------------*/
 #conteudo {
    float: left;
    width: 710px;
    background-color: green;
}

#lateral {
    float: right;
    width: 350px;
    background-color: #ebe7dd;
}

#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* Formulários
------------------------------------------------- */
input {
    height: 20px;
    background-color: #fff;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
}

input.botao {
    color: #fff;
    background: #3f3c2edc;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

legend {
    display: none;
}